
// Colors
$colorBasePrimary: #ccc6c2;
$colorBaseSecondary: #141313;
$colorFont: #ffffff;
$colorHover: #000000;

// Viewport
$mediaTablet: "min-width: 768px";
$mediaDesktop: "min-width: 1920px";
$mediaNoTablet: "max-width: 767px";
$mediaNoDesktop: "max-width: 1919px";

// Indents
$containerIndent: 20px;
$containerIndentDesktop: 40px;

// Container
$maxContainerWidth: 1920px;
