.atmmodal__backcolor {
  background-color: $colorBasePrimary;
}


.atmmodal__title {
  font-size: 20px;
}


.atmmodal__header {
  border-bottom: none;
}

.atmmodal__footer {
  border-top: none;
}

.atmmodal__container {
  padding-right: 10px;
}

.atmmodal__form-input {
  color: $colorHover;
}

