.buro__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

}


.buro__reg {
  @media ($mediaDesktop) {
    padding-bottom: 500px;
    padding-top: 10px;
  }
}

.buro__form-title {
  color: $colorHover;
}

.buro__form-button {
  font-size: 15px;
  line-height: 28px;
  text-transform: uppercase;
  background: $colorBasePrimary;
  cursor: pointer;
  width: 218px;
  height: 40px;
  margin: 0 auto 32px;
  border: 1px solid $colorHover;
  border-radius: 50px;
}


.buro__form-input {
  border: 1px solid $colorHover;
  border-radius: 50px;
  background: $colorBasePrimary;
  color: $colorFont;
  font-size: 15px;
  line-height: 28px;
  width: 218px;
  height: 40px;
}

.buro {
  margin: 0 auto;

  @media ($mediaDesktop) {
    width: 1920px;
    left: 0;
    right: 0;
  }
}


.buro__list {
  @include list-reset;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;

  @media ($mediaDesktop) {
    min-width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

