.button {
  @include link-reset;
  font-size: 11px;
  line-height: 18px;
  text-transform: uppercase;
  background: $colorBasePrimary;
  cursor: pointer;
  width: 218px;
  height: 40px;
  margin: 0 auto 32px;
  border: 1px solid $colorHover;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;

  @media ($mediaTablet) {
    width: 318px;
    height: 56px;
  }
}

// Обёртки — сброс border, но сохранение центрирования
.intro__button.button,
.flip__button.button {
  border: none;
  background: none;
  width: 100%;
  height: auto;
  border-radius: 0;
  //margin: 0 0 32px;
  display: flex;
  justify-content: center;
}
