
.flip {

}


.flip__list {
  @include list-reset;

  @media ($mediaTablet) {
    gap: 30px;
    display: grid;
    grid-template-rows: repeat(2, 1238px);
    grid-template-columns: repeat(2, 562px);
    margin: 0 auto;
    width: min-content;
    margin-bottom: 40px;
  }

}

.flip__item {

}


.flip__title {
  @media ($mediaTablet) {
    font-size: 24px;
  }
}

.flip__picrureimg {
  @media ($mediaTablet) {
    align-items: center;
  }
}


.flip__discription {
  @media ($mediaTablet) {
    font-size: 24px;
  }
}

.flip__titlesec {
  @media ($mediaTablet) {
    font-size: 24px;
  }
}

.flip__listsec {

}

.flip__listsecitem {

}


.flip__listsecitemdisc {
  @media ($mediaTablet) {
    font-size: 24px;
  }
}


.flip__buttons {

}

.flip__button {

}
