.footer {
  background-color: $colorBaseSecondary;
}

.footer__logo {
  @include link-reset;
  display: block;
  height: 36px;

  img {
    @include image;
  }

  @media ($mediaDesktop) {
    display: inline-block;
  }
}

.footer__logo-text {
  color: $colorFont;
  padding-left: 28px;
  margin-top: -4px;

  @media ($mediaDesktop) {
    display: block;
    margin: -5px -35px 5px;
    font-size: 14px;
    padding-right: 111px;
  }
}

.footer__container {
  color: $colorBaseSecondary;

  @media ($mediaTablet) {
    @include container;
    padding-top: 60px;
  }

  @media ($mediaDesktop) {
    display: flex;
  }
}

.footer__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid $colorBaseSecondary;

  @media ($mediaTablet) {
    border-bottom: none;
    padding: 0;
    margin-bottom: 27px;
  }

  @media ($mediaDesktop) {
    display: block;
    margin: 0 30px 0 0;
    flex-shrink: 0;
    max-width: 318px;
    width: 100%;
  }
}


.footer__copyright-text {
  display: flex;
  color: white;
  font-size: 12px;
  margin: 0;
  width: 100%;
  gap: 3px;
  justify-content: center;
  line-height: 16px;
}

.footer__information-list {
  display: flex;
  gap: 10px;
}

.footer__information-link {
  @include link-reset;
  color: white;

}

.footer__rightsinformation-link {
  @include link-reset;
  color: white;
}

.footer__social-telephone {
  color: white;
}
