.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

// По мобильному макету: лого слева, бургер справа, компактный хедер
.header__container {
  background-color: $colorBaseSecondary;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  position: relative;
  width: 100%;
  padding: 0;

  @media ($mediaTablet) {
    padding-right: $containerIndent;
  }

  @media ($mediaDesktop) {
    padding-right: $containerIndentDesktop;
    gap: 40px;
    justify-content: center;
  }
}

.header__logo {
  @include link-reset;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 15px;
  flex-shrink: 0;

  img {
    max-height: 40px;
    width: auto;
  }

  @media ($mediaTablet) {
    margin-left: 40px;
    margin-right: 40px;
    padding: 10px 0;

    img {
      max-height: 50px;
    }
  }

  @media ($mediaDesktop) {
    margin-left: 80px;
    margin-right: 40px;
  }
}

.personal__header {
  margin-left: auto;

  @media ($mediaTablet) {
    margin-left: initial;
  }
}
