.hero {
  width: 100%;
  text-align: center;
  background-image: url("../../images/intro-mobile.jpg");
  background-color: $colorBaseSecondary;
  background-position: bottom center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 300px;
  margin-bottom: 13px;

  @media ($mediaTablet) {
    background-image: url("../../images/intro.jpg");
    min-height: 600px;
  }

  @media ($mediaDesktop) {
    min-height: 911px;
  }
}
