.investors__title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;

  @media ($mediaDesktop) {
    font-size: 42px;
    padding-bottom: 34px;
  }
}

.investors__list {
  @include list-reset;

  @media ($mediaDesktop) {
    padding-right: 160px;
    padding-left: 160px;
  }
}

.investors__discription {
  font-size: 16px;
  line-height: 1.6;

  @media ($mediaDesktop) {
    font-size: 20px;
  }
}

.investors__listsec {
  list-style-type: circle;
}

.investors__discriptionsec {
  @media ($mediaDesktop) {
    font-size: 18px;
    line-height: 1.6;
  }
}

.investors__text {
  max-width: $maxContainerWidth;
  margin: 0 auto;
  padding: 20px 15px;

  @media ($mediaDesktop) {
    padding: 20px 160px;
  }
}
