.links__list {
  @include list-reset;
  display: flex;
  flex-direction: column;
  gap: 12px;

  @media ($mediaTablet) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 18px;
  }
}

.links__item {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
  }

  @media ($mediaTablet) {
    max-width: 328px;
  }

  @media ($mediaDesktop) {
    max-width: 552px;
  }
}

.links {
  padding: 15px;

  @media ($mediaTablet) {
    padding: 20px 30px;
  }

  @media ($mediaDesktop) {
    max-width: $maxContainerWidth;
    margin: 0 auto;
  }
}
