.menu {
  display: flex;
  align-items: center;
  @media ($mediaTablet) { display: none; }
}

.menu__link-span {
  padding: 18px 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
  opacity: 0.7;
  transition: opacity $transitionBase;
  &:hover { opacity: 1; }
}

.menu__cross {
  display: none;
  padding: 18px 20px;
  cursor: pointer;
}

.menu__burger {
  display: block;
  @media ($mediaTablet) { display: none; }
}
