nav {
  background-color: $colorBaseSecondary;

  &--hidden {
    display: none;
  }

  @media ($mediaTablet) {
    display: flex;
  }
}

// По мобильному макету: nav скрыт, показывается бургер-меню
.nav__list {
  @include list-reset;
  display: none;

  @media ($mediaTablet) {
    display: flex;
    flex-wrap: wrap;
  }

  @media ($mediaDesktop) {
    gap: 20px;
  }
}

.nav__link {
  @include link-reset;
  display: block;
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.24px;
  text-transform: uppercase;
  padding: 20px 10px;
  color: $colorFont;
  white-space: nowrap;

  @media ($mediaDesktop) {
    font-size: 14px;
    padding: 20px 15px;
  }
}
