.page {
  height: 100%;
  overflow-x: hidden;
}

.page__body {
  display: flex;
  font-size: 14px;
  line-height: 20px;
  background-color: $colorBasePrimary;
  padding-top: 56px; // мобильный хедер ~56px
  font-family: "Montserrat", "Arial", sans-serif;
  min-height: 100vh;
  flex-direction: column;
  margin: 0;
  min-width: 320px;
  overflow-x: hidden;

  @media ($mediaTablet) {
    padding-top: 70px;
    font-size: 16px;
    line-height: 24px;
  }

  @media ($mediaDesktop) {
    padding-top: 80px;
  }
}

.page__title {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  margin: 0;

  @media ($mediaTablet) {
    font-size: 42px;
    line-height: 64px;
  }
}

.page__main {
  flex-grow: 1;
}
