.personal-nav__list {
  @include list-reset;
  display: flex;
  align-items: center;
  gap: 4px;

  @media ($mediaDesktop) {
    gap: 10px;
  }
}

.personal-nav__item {
  align-self: stretch;

  &--burger {
    @media ($mediaTablet) {
      display: none;
    }
  }
}

.personal-nav__button {
  @include link-reset;
  display: block;
  padding: 15px;
  height: 100%;
  transition: opacity $transitionBase;

  svg {
    display: block;
    opacity: 0.7;
    transition: opacity $transitionBase;
  }

  &:hover svg {
    opacity: 1;
  }

  @media ($mediaTablet) {
    padding-top: 28px;
    padding-bottom: 28px;
    display: flex;
    gap: 8px;
    align-items: center;
  }
}

.personal-nav__phone {
  color: $colorFont;
  font-size: 14px;
  font-weight: 500;
  white-space: nowrap;
  display: none;
  letter-spacing: 0.05em;

  @media ($mediaTablet) {
    display: block;
    padding: 0 15px;
  }
}
