.projectflipslider {
  padding: 15px;

  @media ($mediaTablet) {
    padding: 20px 30px;
  }
}

.projectlipslider__image {
  border-radius: 6px;
  max-width: 100%;
  height: auto;
}

.projectlipslider__title {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 15px;

  @media ($mediaDesktop) {
    font-size: 40px;
    padding-left: 20px;
  }
}

.projectlipslider__container {
  margin: 0 auto;
  max-width: 100%;

  @media ($mediaTablet) {
    max-width: 1321px;
  }
}

.projectlipslider__content {
  padding: 5px;
}

.projectlipslider__text {
  font-size: 13px;
  margin-top: 8px;
  margin-bottom: 4px;

  @media ($mediaTablet) {
    font-size: 14px;
  }
}

.projectlipslider__description {
  font-size: 12px;
  color: #555;
  margin: 0;

  @media ($mediaTablet) {
    font-size: 13px;
  }
}
