

.projects__text {
  margin-left: auto;
  margin-right: auto;
}

.projects__title {
  font-size: 20px;

  @media ($mediaDesktop) {
    font-size: 40px;
    max-width: 552px;
    flex-direction: column;
    align-items: center;
    text-align: center;

    padding-bottom: 34px;
    display: flex;
    justify-content: space-around;
  }
}


.projects {
  margin-bottom: 659px;

  @media ($mediaDesktop) {
    margin-left: 113px;
  }

}

.projectprojectsswiper__image {
  background-size: cover;
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.projectsswiper__container {
  margin-left: auto;
  margin-right: auto;
  max-width: 316px;
  min-height: 268px;

  @media ($mediaTablet) {
    max-width: 1321px;
    min-height: 686px;
    margin-left: auto;
    margin-right: auto;
  }
}
