
.team__title {
  font-size: 20px;

  @media ($mediaDesktop) {
    font-size: 40px;
    max-width: 552px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 34px 214px 24px -19px;
  }
}

.team {
  @media ($mediaDesktop) {
    //width: 1920px;
    //height: 686px;
    left: 0;
    right: 0;
  }
}

.team__container {
  @media ($mediaDesktop) {
    min-width: 1321px;
    min-height: 686px;
    padding-left: 299px;
    padding-right: 300px;
  }
}
