.team__title {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 15px;

  @media ($mediaDesktop) {
    font-size: 40px;
    padding-left: 20px;
  }
}

.team {
  padding: 15px;

  @media ($mediaTablet) {
    padding: 20px 30px;
  }
}

.team__container {
  margin: 0 auto;
  max-width: 100%;

  @media ($mediaDesktop) {
    max-width: 1321px;
  }
}
