.video__container {
  @media ($mediaDesktop) {
    margin-bottom: 88px;
    margin-left: 888px;
  }

}

.video__item {
  margin: 0 auto 32px;
  @media ($mediaTablet) {
    width: 768px;
    height: 769px;
  }

}

.video {
  @media ($mediaDesktop) {
    width: 1920px;
    height: 832px;
    left: 0;
    right: 0;
  }
}

